.skill-set{
    width: 100%;
    height: auto;
    gap: 0.5rem
}
.skill-container{
        height: var(--skill-container-height);
        width: auto;
        gap: 0.5rem
}
.skill-title{
    margin: 0;
    padding: 0;
}

.skill-image{
    height: 60%;
    width: auto;
    padding: 5px;
}